*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main
{
    background-color: rgb(255, 255, 255);
}

/* HEADER */
/* navbar and heading */
.header
{
    background:linear-gradient(rgba(255,0,255, 0.6),rgba(255,0,255,0.4));
    padding-bottom:30px;
}

.navbar-menu
{
    display: grid;
    grid-template-columns:50% 10% 40%;
    margin-top:20px;
}

.navbar-link
{
    list-style-type:none;
    margin:10px 15px;
}

.navbar-link a
{
    color:white;
}

.navbar-left
{
    display: flex;
}

.navbar-right
{   
  display: flex;   
}

.header-wrapper
{
    display:grid;
    grid-template-columns:40% 50% 10%;
}

.header-logo
{
    display: flex;
}

.header-logo img
{
    border-radius:50%;
    margin-right:30px;
}

.header-text h3
{
    line-height:10px;
}

.menu-search
{
    height:50%;
    margin:auto 0;
    display: flex;
    margin-left:50px;
    padding:10px;
    background-color: rgba(0,255,255,0.5);
}

.menu-search input
{
    border-style: none;
    margin:0 20px;
}

.nav-cart
{
    height:50%;
    margin:auto 0;
    margin-left:30px;
}

/* card */
.card
{
    background-color: white;
    margin:30px auto;
    width:100%;
    padding:20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.employees-card
{
    width:90%;
    height:300px;
    margin:5%;
    background-color: burlywood;

}


.employees-text
{
    color:black;
}

.employees-image
{
    width:100%;
    height: 200px;
}

@media only screen and (max-width:770px) and (min-width:427px) {
    .card
    {
        grid-template-columns:50% 50%;
    }
}

@media only screen and (max-width:426px) and (min-width:319px) {
    .card
    {
        display:grid;
        grid-template-columns:100%;
    }
    
}